
{% extends '@App/layout.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1>Hello world2</h1>
    <h1>Product {{ product.id }}</h1>
    <h1>Title {{ product.title }}</h1>
    <h1>Price {{ product.price }}</h1>
    <h1>Description {{ product.description }}</h1>
    <h1>Active {{ product.active }}</h1>
    <h1>Category {{ product.category.name }}</h1>
{% endblock %}

{% block stylesheets %}

{% endblock %}
